* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

hr {
    margin: 1.5em 0;
    border: none;
    border-top: 1px solid #bfbfbf;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}

h2 {
    font-size: 1.75em;
    font-weight: normal
}

h3 {
    margin-bottom: 0.25em;
    font-size: 1em;
    font-weight: 400
}

h4 {
    font-size: 0.875em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

hr {
    border-top: none
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?mge2bdf');
    src: url('../fonts/icomoon.eot?mge2bdf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?mge2bdf') format('truetype'),
        url('../fonts/icomoon.woff?mge2bdf') format('woff'),
        url('../fonts/icomoon.svg?mge2bdf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-s1:before {
    content: "\e900";
}

.icon-s2:before {
    content: "\e901";
}

.icon-s3:before {
    content: "\e902";
}

.icon-s4:before {
    content: "\e903";
}

.icon-s6:before {
    content: "\e904";
}

.icon-s5:before {
    content: "\e905";
}

.icon-s7:before {
    content: "\e906";
}

.title {
    position: relative;
    margin-bottom: 1em;

    .icon {
        position: absolute;
        top: 2px;
        left: -34px;
        display: block;
        font-size: 24px;
    }

    h1 {
        font-size: 1.25em;
        font-weight: 400;
        color: #bf9000;

        small {
            margin-left: 0.5em;
            font-size: 0.75em;
        }
    }
}

.resume-list {
    margin-bottom: 1em;

    span {
        font-size: 0.875em;
        color: #707070;

        &.time {
            padding-right: 2em;
            font-size: 0.625em;
        }
    }

    h3 {
        margin-bottom: 0;

        &+p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 0.25em;
        }
    }

    &.flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;
        line-height: 1;
    }

    ul {
        clear: both;
        zoom: 1;
        overflow: hidden;

        li {
            float: left;
            margin: 0 0 1em;
            font-size: 1em;
            width: 100%;
        }
    }

    &.flex-50 {
        li {
            width: 50%;
        }
    }
}

.resume-info {
    color: #1b1b1b;

    h1 {
        color: #bf9000;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        margin-top: 2.5em;
        margin-bottom: 1em;
        color: #bf9000;
        font-size: 1em;
        font-weight: normal;

        small {
            margin-left: 0.5em;
            color: #1b1b1b;
        }
    }

    ul {
        li {
            padding: .25em 0;
            font-size: .625em;
            line-height: 2;
        }
    }

    p {
        font-size: .625em;
        line-height: 2;
    }
}

.resume-pic {
    overflow: hidden;

    div {
        margin-bottom: 1em;
    }

}

.resume-header {
    padding: 2.5em 0;
    text-align: center;
    background-color: #0d0d0d;

    .avatar {
        margin: 0 auto;
        display: block;
        padding: .5em;
        width: 12.5em;
        height: 12.5em;
        border: 1px dashed #bf9000;
        border-radius: 50%;

        img {
            width: 11.5em;
            height: 11.5em;
            border-radius: 50%;
        }
    }

    p {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        height: 3.25em;
        text-align: center;
        background-color: #d9d9d9;

        span {
            position: relative;
            display: inline-flex;
            align-items: center;
            position: absolute;
            top: -.425em;
            bottom: -.425em;
            padding: 0 1em;
            line-height: 1;
            font-size: 1.875em;
            background-color: #bf9000;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -.475em;
                width: 0;
                height: 0;
                border-width: 0 0 .425em .475em;
                border-style: solid;
                border-color: transparent transparent #7f6000;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: -.475em;
                width: 0;
                height: 0;
                border-width: 0 .475em .425em 0;
                border-style: solid;
                border-color: transparent transparent #7f6000;
            }

            em {
                margin-right: .425em;
                display: block;
                line-height: 1;
                font-style: normal;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: -.475em;
                    width: 0;
                    height: 0;
                    border-width: .425em 0 0 .475em;
                    border-style: solid;
                    border-color: #7f6000 transparent transparent;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: -.475em;
                    width: 0;
                    height: 0;
                    border-width: .425em .475em 0 0;
                    border-style: solid;
                    border-color: #7f6000 transparent transparent;
                }
            }
        }
    }
}

.bd-l {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        border-left: 1px solid #cecece;
    }
}

.bd-r {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border-right: 1px solid #cecece;
    }
}