* {
    margin: 0;
    box-sizing: border-box;
}


ul {
    padding: 0;

    li {
        list-style: none;
    }
}

hr {
    margin: 1.5em 0;
    border: none;
    border-top: 1px solid #bfbfbf;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

@font10: 1em;
@font12: 1.125em;
@font14: 1.25em;
@font18: 1.4375em;

/* title */
.title {
    margin-top: 4em;
    margin-bottom: 2em;
    color: #ff0965;

    h1 {
        font-size: @font18;
        font-weight: bold;

        small {
            display: block;
            color: #fff;
            font-size: @font10;
        }
    }
}

/* time-line */
.time-line {
    position: relative;
    margin-top: 4em;

    ul {
        display: flex;
        flex-direction: column;
        position: relative;

        li {
            position: relative;
            padding-right: 50%;
            padding-bottom: 3em;
            text-align: right;

            i {
                position: absolute;
                top: .125em;
                left: 50%;
                display: block;
                margin-left: -.875em;
                width: 1.75em;
                height: 1.75em;
                border: .2em solid #434343;
                border-radius: 10em;
            }

            .bd {
                position: absolute;
                top: 1.75em;
                bottom: -.125em;
                left: 50%;
                margin-left: -.1em;
                border-left: .2em solid #434343;
            }

            .desc {
                padding: 0 10%;

                p.name {
                    margin-top: .75em;
                    margin-bottom: .25em;
                    color: #fff;
                    font-size: @font14;
                    word-break: break-all;
                }

                p {
                    color: #ff0965;
                    font-size: @font14;
                    overflow: hidden;
                    word-break: break-all;

                    span {
                        display: block;
                        color: #8f8f8f;
                        word-break: break-all;
                    }
                }
            }

            &:nth-child(2n) {
                padding-left: 50%;
                padding-right: 0;
                text-align: left;
            }

            &:last-child {
                .bd {
                    display: none;
                }
            }
        }
    }
}

/* resume-list */
.resume-list {
    ul {
        li {
            display: flex;
            align-items: center;
            margin-top: .75em;
            line-height: 2;
            font-size: @font14;
            color: #fff;

            &:first-child {
                margin-top: 0;
            }


            h3 {
                font-size: @font14;
            }

            p {
                font-size: @font12;

                &.bd {
                    flex: auto;
                    min-width: 50px;
                    margin: 0 2rem;
                    line-height: 1;
                    font-size: 0;
                    border-top: 1px dashed rgba(255, 255, 255, .35);
                }
            }

            span.time {
                white-space: nowrap;
                font-size: @font10;
            }
        }

        &.flex {
            display: flex;
            flex-wrap: wrap;

            li {
                flex: 0 0 25%;
                display: block;
                margin: .5em 0;
                text-align: center;

                .bd {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 5.5em;
                    height: 5.5em;
                    color: #fff;
                    font-size: @font14;

                    i {
                        display: block;
                        width: 5.5em;
                        height: 5.5em;
                        border: 10px solid #fff;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-bottom-color: transparent;
                        transform: rotate(-135deg);
                    }
                }

                h4 {
                    margin: .5em auto 0;
                    max-width: 200px;
                    color: #fff;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.resume-content {
    word-break: break-all;
    line-height: 2;
    font-size: @font14;
    color: #fff;
    text-align: justify;
}

.resume-pic {
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -.75em;

        li {
            flex: 0 0 50%;
            padding: 0 .75em;
            text-align: center;

            .bd {
                background-color: #fff;
            }

            p {
                margin-top: 1em;
                margin-bottom: 2em;
                font-size: @font14;
                color: #fff;
                text-align: center;
            }
        }
    }
}

.resume-info {
    position: relative;
    margin-top: 4em;

    i {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -8em;
        border-left: 30px solid #ff0965;
    }

    h1 {
        margin-bottom: .35em;
        line-height: 1;
        color: #ff0965;
        font-size: 2.875em;
        font-weight: bold;
    }

    p {
        line-height: 1;
        color: #fff;
        font-size: 1.75em;
    }
}

.avatar {
    position: absolute;
    left: 50%;
    bottom: -9.375em;
    width: 18.75em;
    height: 18.75em;
    border-radius: 50%;
    border: .45em solid #121212;
    transform: translateX(-50%);
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

.caret {
    position: absolute;
    z-index: -1;


    &.caret-1 {
        top: 12em;
        right: 0;
        left: -20%;
        height: 20em;
        transform: skewY(20deg);
        background: linear-gradient(to left bottom, #0a0a0a 50%, transparent 0);
    }

    &.caret-2 {
        top: 65em;
        right: -10%;
        left: 0;
        height: 30em;
        transform: skewY(-25deg);
        background: linear-gradient(to bottom right, #0a0a0a 50%, transparent 0);
    }
}